#chart-area svg {
	margin-left: auto;
    margin-right: auto;
	display: block;
	margin-top: 100px;
}

.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

#reset-button, #play-button, #slider-div {
	float: left;
	margin-right:10px;
}

#slider-div {
	width:300px;
	margin-top: 20px;
	margin-left:10px;
}

#reset-button, #play-button {
	margin-top: 5px;
	margin-bottom:10px;
}

#reset-button, a{
	color: #d3d3d3;
}

#play-button, a{
	color: #d3d3d3;
}

#continent-select {
	width: 150px;
	float:right;
	margin-top:5px;
}

#rating-text {
	font-family: "Nunito Sans";
	font-size: 20px;
	color: #66717C;
	margin-left: auto;
    margin-right: auto;
	display: block;
	margin-top: 180px;
}

#avg-stars {
	font-family: "Nunito Sans";
	font-size: 30px;
	color: #d25a94;
	margin-left: auto;
    margin-right: auto;
	display: block;
}

#date-text {
	font-family: "Nunito Sans";
	font-size: 20px;
	color: #66717C;
	margin-left: auto;
    margin-right: auto;
	display: block;
	margin-top: 100px;
}

#dateLabel1 {
	font-family: "Nunito Sans";
	font-size: 30px;
	color: #d25a94;
	margin-left: auto;
    margin-right: auto;
	display: block;
}

text {
	font: bold 48px monospace;
  }
  
  .enter {
	fill: green;
  }
  
  .update {
	fill: #333;
  }
  
  .exit {
	fill: brown;
  }
